<section class="border-1 border-blue-300/20 rounded-lg shadow-md text-white overflow-hidden">
  <header class="bg-blue-900/70 backdrop-blur-sm p-4 rounded-t-lg">
    <p>EVENT TIMELINE</p>
  </header>
  <main class="bg-[#0c121e] p-4">
    @if (timelineEvents().length) {
      <section>
        <header class="bg-blue-900/70 backdrop-blur-sm p-4 rounded-t-lg">
          <p>Pending queue</p>
        </header>
        <ul
          ds-pending-operations-list
          [pendingOperationsList]="timelineEvents()"
        ></ul>
      </section>
    }
  </main>
  <footer></footer>
</section>
