@let clientType = client();

<section class="border-1 border-blue-300/20 rounded-lg shadow-md text-white overflow-hidden">
  <header class="bg-blue-900/70 backdrop-blur-sm p-4 rounded-t-lg">
    <p class="text-white">
      {{ clientTypeLabels[clientType] }}
    </p>
  </header>
  <main class="bg-[#0c121e] p-4">
    <!-- Introductory Info -->
    <div class="intoductory-info flex justify-between items-center">
      <div class="intoductory-info__left flex gap-2 items-center text-white">
        <span
          class="flex gap-2 text-sm font-medium px-2 py-1 rounded"
          [ngClass]="{
            'bg-blue-500': clientType === clientTypeEnum.ClientA,
            'bg-green-800': clientType === clientTypeEnum.ClientB,
          }"
        >
          {{ clientType | clientBadge }}
        </span>
        {{ clientTypeLabels[clientType] }}
      </div>
      <div class="intoductory-info__right">
        <span
          class="inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 inset-ring inset-ring-green-500/20"
          >Online</span
        >
      </div>
    </div>
    <!-- Editor State -->
    <div class="editor-state rounded-lg shadow-xlmt-4 py-4">
      <div class="editor-state__top bg-[#151b26] p-6 pb-0">
        <div class="editor-name flex justify-between mb-4">
          <div class="editor-name__left flex gap-2 items-center">
            <ds-icons
              [basic]="'document-text'"
              [size]="20"
            />
            <span class="text-sm">Dokument: Projekt X</span>
          </div>
          <div class="editor-name__right">
            <span
              class="inline-flex items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 inset-ring inset-ring-blue-400/30"
              >V3</span
            >
          </div>
        </div>
        <div class="form-field mb-4">
          <p class="text-xs pb-1">Tytuł</p>
          <ds-input-shared
            (emitFocusEvent)="startEditing()"
            (emitBlurEvent)="endEditing()"
            [formControl]="title"
          />
        </div>
        <div class="form-field">
          <p class="text-xs pb-1">Opis</p>
          <ds-textarea-shared [formControl]="description" />
        </div>
      </div>
      <div class="editor-state__bottom bg-[#13181d] py-2 px-4 text-xs">
        <p class="text-white/50">Ostatnia zmiana: 12:01:05.123</p>
      </div>
    </div>
    <!-- User Actions -->
    <div class="user-actions bg-[#0f192c] py-6 px-2">
      <div class="editor-name flex justify-between mb-4">
        <div class="editor-name__left flex gap-2 align-center text-xs">
          <ds-icons
            [basic]="'pencil-square'"
            [size]="20"
          />
          <span class="user-actions__title">CURRENT CLIENT ACTIVITY</span>
        </div>
      </div>
      <div class="user-actions__content">
        @for (action of userActions(); track action.timestamp) {
          @switch (action.type) {
            @case ('EDITING_STARTED') {
              <div
                class="block py-2 mb-2 items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 inset-ring inset-ring-blue-400/30"
              >
                {{ action.timestamp | date: 'hh:mm:ss' }}
                {{ action.value }}
              </div>
            }
            @case ('EDITING_CHANGED') {
              <div
                class="block py-2 mb-2 items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 inset-ring inset-ring-green-500/20"
              >
                Zapisano
              </div>
            }
          }
        }
        <!-- <div
          class="block py-2 mb-2 items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 inset-ring inset-ring-blue-400/30"
        >
          12:01:05 Zmienił tytuł na : "Projekt X - Plan Q2"
        </div> -->
      </div>
    </div>
  </main>
  <footer></footer>
</section>
