@let pendingOperationItemData = pendingOperationItem();

@if (pendingOperationItemData) {
  <div class="pending-operation">
    <div class="pending-operation__identity operation-identity">
      <span
        class="operation-identity__badge inline-flex gap-2 bg-blue-500 text-sm font-medium px-2 py-1 rounded"
        [ngClass]="{
          'bg-blue-500': pendingOperationItemData.source === clientTypeEnum.ClientA,
          'bg-green-800': pendingOperationItemData.source === clientTypeEnum.ClientB,
        }"
      >
        {{ pendingOperationItemData.source | clientBadge }}
      </span>
      <div class="operation-identity__content text-xs">
        {{ clientTypeLabels[pendingOperationItemData.source] }}
        zmienił tytuł na
        {{ pendingOperationItemData.payload.value }}
      </div>
    </div>
    <div class="pending-operation__scheduling">
      <div class="operation-scheduling__title"></div>
      <div class="operation-scheduling__dispatch">
        <p class="text-xs font-semibold">Scheduled: &nbsp;T+0000ms</p>
        <label
          class="scheduling-displatch__label text-xs"
          for="dispatch-slider"
        >
          Dispatch Offset
        </label>

        <div class="scheduling-displatch__controls">
          <input
            id="dispatch-slider"
            class="scheduling-displatch__slider"
            type="range"
            min="1"
            max="100"
            value="50"
            [style.--value.%]="dispatchOffset"
            [(ngModel)]="dispatchOffset"
          />

          <input
            class="scheduling-displatch__value"
            type="number"
            min="1"
            max="100"
            value="50"
            [(ngModel)]="dispatchOffset"
          />

          <span class="text-xs">ms</span>
        </div>
      </div>
    </div>
    <div class="pending-operation__controls">
      <div class="pending-operation__move-controls">
        <button
          type="button"
          aria-label="Przesuń wyżej"
        >
          <ds-icons
            [basic]="'arrow-up'"
            [size]="16"
          />
        </button>

        <button
          type="button"
          aria-label="Przesuń niżej"
        >
          <ds-icons
            [basic]="'arrow-down'"
            [size]="16"
          />
        </button>
      </div>

      <div class="pending-operation__delete-control">
        <button
          type="button"
          aria-label="Usuń operację"
        >
          <ds-icons
            [basic]="'trash'"
            [size]="16"
          />
        </button>
      </div>
    </div>
  </div>
}
